<!DOCTYPE html>
<html>
  <head>
  <!-- Basic Page Needs -->
  <meta charset="utf-8">
  <title>Aeroplanes</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <script src="/bundle.js"></script>
  <link rel='stylesheet' type='text/css' href='../styles/styles.css'></link>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- //// -->
  <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
  <!-- //// -->

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class='heading'>Airline </div>
      <select>
        <option value="volvo">v</option>
        <option value="saab">s</option>
        <option value="mercedes">m</option>
        <option value="audi">a</option>
      </select>

<br>
    <div class='heading'>Call Sign </div>
      <select>
        <option value="volvo">O</option>
        <option value="saab">A</option>
        <option value="mercedes">E</option>
        <option value="audi">U</option>
      </select>


      <br>
    <div class='heading'>ICAO </div>
      <select>
        <option value="volvo">Es a</option>
        <option value="saab">Ex b</option>
        <option value="mercedes">ex c</option>
        <option value="audi">ex b</option>
      </select>


      <br>

    <div class='button-wrapper'>
      <div class='inside-button'>
          <span id='submit'>SUBMIT</span>
      </div>

      <div class='inside-button'>
        <span id='new'>PICK ANOTHER </span>
      </div>
    </div>

    <br>
    <br>
    <br>
  </body>
</html>
