<!DOCTYPE html>
<html>
  <head>
  <!-- Basic Page Needs -->
  <meta charset="utf-8">
  <title>Aeroplanes</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <script src="/bundle.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
  <link rel='stylesheet' type='text/css' href='../styles/styles.css'></link>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- //// -->
  <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
  <script type="text/javascript" src="javascript/client.js"></script>
  <script type="text/javascript" src="javascript/_designator.js"></script>
  <script type="text/javascript" src="javascript/_funtions.js"></script>
  <script type="text/javascript" src="javascript/_oot.js"></script>

  <!-- //// -->

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>


    <div id="airline">
          <div class='heading'>Airline </div>
    </div>

    <div id="call_sign">
          <div class='heading'>Call Sign</div>
    </div>

    <div id="designator">
          <div class='heading'>ICAO </div>
    </div>

    <div class='button-wrapper'>
      <div class='inside-button'>
          <span id='new'>PICK ANOTHER </span>
      </div>
    </div>
  </body>
</html>
