<!DOCTYPE html>
<html>
  <head>
  <!-- Basic Page Needs -->
  <meta charset="utf-8">
  <title>Aeroplanes</title>
  <script src="/bundle.js"></script>
  <link rel='stylesheet' type='text/css' href='../styles/styles.css'></link>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- //// -->
  <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
  <!-- //// -->

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>
  <body>
    <div class='input'>Airline </div>
    <select>
      <option value="Air_New_Zealand">Air New Zealand</option>
      <option value="Cathay_Pacific">Cathay Pacific</option>
      <option value="British_Airways">British Airways</option>
    </select>
    <div class='input'>Call Sign </div>
    <select>
      <option value="Air_New_Zealand">New Zealand</option>
      <option value="Cathay_Pacific">Cathay</option>
      <option value="Brithish_Airways">Speedbird</option>
    </select>
    <div class='input'>Designator</div>
    <select>
      <option value="Air_New_Zealand">ANZ</option>
      <option value="Cathay_Pacific">CPA</option>
      <option value="Brithish_Airways">BAW</option>
    </select>


    <div class='button-wrapper'>
      <div id='submit'class='button-submit'>SUBMIT</div>
      <div id='new' class='button-new'>PICK ANOTHER</div>
    </div>


  </body>
</html>
