

.heading{
      font-family: 'Oswald', sans-serif;
      font-size: 23px;
      text-align: center;
      color: #0E6BE5; /*dark blue*/
}

.input{
  font-size: 35px;
  text-align: center;
}
.button-wrapper {
    padding-top: 5%
}
.button-wrapper-a{
    text-align: center;
}


.inside-button {
    display: inline-block;
    float: left;
    position: relative;
    top: 0;
    cursor: pointer;
    width: 45.5%;
    height: 34px;
    background: #0E6BE5; /*dark blue #*/
    border-radius: 3px;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    margin: 0 7px 11px 0;
    color: #F2EFC2; /*beige*/
    border:2px solid #F2EFC2;
    text-align: center;
    transition: all 0.2s ease;
    font: 18px Arial, sans-serif;
    padding-top: 10px;
    margin-left: 27%;
    margin-right: 27%
}
.button-new {
    display: inline-block;
    width:40%;
    height:30px;
    border: 1px solid green;
}
.question{
      font-size: 28px;
      font-weight: 500;
}

.question_block{
  text-align: center;
  background: #0E6BE5;
  color: #F2EFC2;
  padding: 12px;
}

.option_wrapper{

}/*
.pad_left{
  float: left;
  width: 31%;
  margin: 20px 1.15%;
  height: 160px;
  background-color: #B2D6FF;
}*/



.pad_right{
  width: 6em;
}


.pad_left{
  width: 6em;
}

.spacer{
  height: 10px;
  background:aqua;
}
.options {
    border: 1px #e7ebf0 solid;
    padding: 7px;
    margin-top: 10px;
    text-align:center;
    width: 15em;
    border-radius: 5%;
    color:black;
    font-size:19px;
    background:#e7ebf0;
}

.option_block{
  text-align: center
}

.call_selected{
  background:#0E6BE5;
  color: #F2EFC2;
}
.airline_selected{
  background:#0E6BE5;
  color: #F2EFC2;
}
.des_selected{
    background:#0E6BE5;
    color: #F2EFC2;
}

.error{
  background:#f28bb7;
  color:white;
  text-align:center;

}

.correct{
  background:#b7f28b;
  color:white;
  text-align:center;
}

.floated{
  display: inline-block;
}


/*  https://color.adobe.com/Blau-color-theme-11515683/edit/?copy=true*/
